# Week 2 Assignment 2: Centrality Measures

Molly Siebecker and Marley Myrianthopoulos

CUNY SPS

DATA 620

Summer 2024

These data sets (one for nodes and one for edges) record connections between Spotify artists, as measured by their features. We obtained the data [here](https://www.kaggle.com/datasets/jfreyberg/spotify-artist-feature-collaboration-network?select=edges.csv), originally taken from the Spotify API. When one artist is featured on another artist's song, that feature is recorded as an undirected link. The nodes data set includes each artist's name, Spotify ID, number of followers, popularity ranking, associated genres, and number of chart hits in various countries. In the edges data set, each observation represents a collaboration between artists. There are two columns, one for each ID of the artists collaborating.

Since this data includes over 130,000 artists, we will limit the scope of the investigation to only the most popular artists by filtering the data based on number of Spotify followers. After mapping their connections, we will group them by genre to divide them into categorical groups. We will then compute three measures of centrality (degree centrality, normalized degree centrality, and eigenvector centrality) both for each artist and for each genre. This will allow us to compare which genres have higher levels of collaboration in general, and could hypothetically be used to predict centrality measures for other top artists within a known genre.

In [3]:
import pandas as pd

# Read the edges CSV file into a DataFrame
edges_df = pd.read_csv('https://raw.githubusercontent.com/Marley-Myrianthopoulos/cunysps_data620/main/project_1/620_project1_edges.csv')

# Read the nodes CSV file into a DataFrame
nodes_df = pd.read_csv('https://raw.githubusercontent.com/Marley-Myrianthopoulos/cunysps_data620/main/project_1/620_project1_nodes.csv')

In [4]:
nodes_df.head()

,spotify_id,name,followers,popularity,genres,chart_hits
0,48WvrUGoijadXXCsGocwM4,Byklubben,1738.0,24,"['nordic house', 'russelater']",['no (3)']
1,4lDiJcOJ2GLCK6p9q5BgfK,Kontra K,1999676.0,72,"['christlicher rap', 'german hip hop']","['at (44)', 'de (111)', 'lu (22)', 'ch (31)', ..."
2,652XIvIBNGg3C0KIGEJWit,Maxim,34596.0,36,[],['de (1)']
3,3dXC1YPbnQPsfHPVkm1ipj,Christopher Martin,249233.0,52,"['dancehall', 'lovers rock', 'modern reggae', ...","['at (1)', 'de (1)']"
4,74terC9ol9zMo8rfzhSOiG,Jakob Hellman,21193.0,39,"['classic swedish pop', 'norrbotten indie', 's...",['se (6)']

In [5]:
edges_df.head()

                     id_0                    id_1
0  76M2Ekj8bG8W7X2nbx2CpF  7sfl4Xt5KmfyDs2T3SVSMK
1  0hk4xVujcyOr6USD95wcWb  7Do8se3ZoaVqUt3woqqSrD
2  38jpuy3yt3QIxQ8Fn1HTeJ  4csQIMQm6vI2A2SCVDuM2z
3  6PvcxssrQ0QaJVaBWHD07l  6UCQYrcJ6wab6gnQ89OJFh
4  2R1QrQqWuw3IjoP5dXRFjt  4mk1ScvOUkuQzzCZpT6bc0